<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers Photos</title>
        <%= favicon_link_tag 'favicon' %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
          <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
       
        <%= stylesheet_link_tag 'justifiedGallery.min.css' %>
        <%= stylesheet_link_tag 'baguetteBox.min.css' %>

        
    </head>
     

<div class="gallery">
    

<!--         <a href="graham.jpg"><img src="graham.jpg" alt="Image 3.1"></a>-->
    

    <a href="<%= image_path('graham.jpg')%>" title="Graham W" ><img src="<%= image_path('graham.jpg')%>" alt="Graham W"></a>
    
    <a href="<%= image_path('group_bywater.jpg')%>" title="Group By The Water" ><img src="<%= image_path('group_bywater.jpg')%>" alt="Group By The Water"></a>
    
    <a href="<%= image_path('instruction2.jpg')%>" title="Instruction" ><img src="<%= image_path('instruction2.jpg')%>" alt="Instruction"></a>
    
    <a href="<%= image_path('instruction1.jpg')%>" title="Instruction" ><img src="<%= image_path('instruction1.jpg')%>" alt="Instruction"></a>
    
    <a href="<%= image_path('group_bywater.jpg')%>" title="Group By The Water" ><img src="<%= image_path('group_bywater.jpg')%>" alt="img"></a>
    
        
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
     
      
           <%= javascript_include_tag 'jquery.justifiedGallery.min.js' %>
            
            <%= javascript_include_tag 'baguetteBox.min.js' %>
            <%= javascript_include_tag 'app.js' %>
        
    <script>baguetteBox.run('.gallery', {
            
        });
    </script>
     
</html>

         