<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers Photos</title>
     
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
          <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
       
        <%= stylesheet_link_tag 'justifiedGallery.min.css' %>
        <%= stylesheet_link_tag 'colorbox.css' %>

        
    </head>
     

<div id="basicExample2" class="justified-gallery">
    

         
        <%= link_to image_tag('graham.jpg'), 'graham', alt:"Test" %>
        <%= link_to image_tag('graham.jpg'), 'graham' %>
        <%= link_to image_tag('group_bywater.jpg'), 'group_bywater.jpg', alt:"caption" %>
        <%= link_to image_tag('instruction2.jpg'), 'instruction3.jpg', alt:"caption" %>
        <%= link_to image_tag('instruction1.jpg') %>
        
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
     
      
           <%= javascript_include_tag 'jquery.justifiedGallery.min.js' %>
            
            <%= javascript_include_tag 'jquery.colorbox-min.js' %>
            <%= javascript_include_tag 'app.js' %>
        
    
     
</html>

         